<app-navbar></app-navbar>
<div class="container">

    <p>
        Le Cul de chouette se joue avec trois dés. Le score à atteindre (343 points) provient des initiales du nom du
        jeu : Cul De Chouette, soit les 3e, 4e et 3e lettres de l'alphabet.
    </p>

    <h1>Démarrage</h1>

    <p>
        Chaque joueur lance 1 dé, le joueur qui a fait le plus petit score commence. S'il y a plusieurs joueurs qui ont
        fait le plus petit score, ils recommencent pour se départager.
    </p>



    <h1>Déroulement du jeu</h1>

    <p>
        A son tour de jeu, le joueur lance d'abord 2 dés (la chouette), puis le 3e dé (le cul). On applique alors la
        règle
        correspondant à la combinaison formée par les trois dés (cf. ci-dessous), sans tenir compte de l'ordre dans
        lequel
        les dés ont été tirés.
    </p>


    <h1>Les combinaisons</h1>

    <h2>La Chouette</h2>
    <h3>2 dés identiques</h3>

    <p>
        La Chouette a pour valeur le chiffre des deux dés identiques. Le joueur qui a lancé les dés gagne les points
        correspondant au carré de la Chouette
        <br>
        Chouette de 1 = 1 pt, de 2 = 4pts, de 3 = 9 pts, de 4 = 16 pts, de 5 = 25
        pts, de 6 = 36 pts.
    </p>

    <h2>La Velute</h2>
    <h3>La somme de 2 dés = le 3e dé</h3>

    <p>
        La Velute a pour valeur le chiffre du 3e dé. Le joueur qui a lancé les dés gagne les points correspondant au
        double du carré de la Velute
        <br>
        Velute de 2 = 8 pts, de 3 = 18 pts, de 4 = 32 pts, de 5 = 50 pts, de 6 = 72 pts.
    </p>

    <h2>La Chouette Velute </h2>
    <h3>Une Chouette + une Velute</h3>

    <p>
        La Chouette Velute a la valeur de sa Velute. Le premier joueur qui frappe dans ses mains en criant "Pas mou le
        caillou" gagne les points de la Chouette Velute.
        <br>
        Si plusieurs joueurs sont à égalité, et que le joueur qui a lancé les dés en fait partie, tous les autres
        joueurs à égalité lancent un dé. Si l'un des joueurs fait un 6, il gagne les points, sinon c'est le joueur qui
        a lancé les dés qui garde ses points.
        <br>
        Si plusieurs joueurs sont à égalité, et que le joueur qui a lancé les dés n'en fait pas partie, tous les autres
        joueurs à égalité lancent un dé. Le premier qui fait un 6 gagne les points. En cas d'égalité, il faut relancer
        les dés jusqu'à ce qu'un seul des joueurs fasse un 6.
        <br>
        Chouette Velute de 2 = 8pts, de 4 = 32 pts, de 6 = 72 pts.
        <br>
    </p>
    Les seules possibilités de Chouette Velute sont :
    <ul>
        <li>1-1-2</li>
        <li>2-2-4</li>
        <li>3-3-6</li>
    </ul>
    <br>
    <strong>On ne peut pas Siroter après une Chouette Velute.</strong>

    <h2>Le Cul de Chouette</h2>
    <h3>3 dés identiques</h3>

    <p>
        Le Cul de Chouette a pour valeur le chiffre des trois dés identiques. Le joueur qui a lancé les dés gagne en
        points 40 + 10 * valeur des dés.
        <br>
        Cul de Chouette de 1 = 50 pts, de 2 = 60 pts, de 3 = 70 pts, de 4 = 80
        pts, de 5 = 90 pts, de 6 = 100 pts
    </p>

    <h2>La Suite</h2>
    <h3>3 dés qui se suivent</h3>

    <p>
        Tous les joueurs doivent taper du poing sur la table en criant : "Grelotte, ça picotte". Le dernier joueur à le
        faire perd 10 points.
        <br>
        En cas d'égalité, les joueurs concernés se départagent en criant : "Sans fin est la moisissure des bières
        bretonnes". S'il y a toujours égalité, les joueurs concernés se départagent en lançant chacun un dé, c'est
        celui qui aura fait le plus petit score qui perdra les 10 points. S'il y a plusieurs joueurs qui ont fait le
        plus petit score, ils recommencent pour se départager, mais cette fois pour perdre 20 points (puis 30 points,
        etc).
        <br>
        Attention : si un joueur réalise la suite 1-2-3, en plus de la règle de la Suite s'applique la règle de la
        Velute, c'est-à-dire que le joueur qui a lancé les dés gagne 18 pts.
    </p>

    <h2>La Soufflette</h2>
    <h3>3 dés formant 4, 2 et 1</h3>

    <p>
        Le joueur peut défier un autre joueur de son choix. Ce joueur a alors trois jets de dés pour réaliser lui aussi
        un 421. Si le joueur défié réussit à faire 421 :
    </p>
    <ul>
        <li>Du premier coup, il gagne 50 points et le défieur les perd.</li>
        <li>Du deuxième coup, il gagne 40 points et le défieur les perd.</li>
        <li>Du troisième coup, il gagne 30 points et le défieur les perd.</li>
        <li>Si le joueur défié échoue, il perd 30 points et le défieur les gagne.</li>
    </ul>

    <h2>Le Néant</h2>
    <h3>aucune des combinaisons ci-dessus</h3>

    <p>
        En cas de Néant, le joueur qui a lancé les dés gagne une Grelottine (s'il n'en avait pas déjà une en sa
        possession), mais s'expose à un défi "Grelottine" (cf. ci-dessous).
    </p>

    <h1>Autres règles</h1>

    <h2>Le Sirotage</h2>

    <p>
        Une fois les 3 dés lancés, si le joueur a réussi une Chouette, il peut tenter de relancer un dé pour faire un
        Cul de Chouette correspondant à sa Chouette. Si le joueur réussit son sirotage, il gagne les points du Cul de
        Chouette, sinon on soustrait de son score les points de la Chouette.
        <br>
        Lorsque le joueur annonce son intention de tenter un sirotage, chacun des autres joueurs peut décider de miser
        sur le résultat du dé que le joueur va lancer. Chaque nombre est annoncé par les joueurs de la façon suivante :
    </p>
    <ul>
        <li>Linotte (1)</li>
        <li>Alouette (2)</li>
        <li>Fauvette (3)</li>
        <li>Mouette (4)</li>
        <li>Bergeronnette (5)</li>
        <li>Chouette (6)</li>
    </ul>
    <p>
        La mise est de <strong>5 pts</strong>, le gain est de <strong>25 pts</strong>.
    </p>


    <h2>Le défi "Grelottine"</h2>

    <p>
        Lorsqu'un joueur réalise un Néant, un autre joueur, s'il a une Grelottine, peut décider de le défier. Pour
        lancer ce défi, il faut crier "Grelottine". Si plusieurs joueurs crient "Grelottine" simultanément, c'est celui
        qui a le plus petit score qui est prioritaire.
        <br>
        Le joueur qui lance le défi Grelottine choisi alors une combinaison que le joueur défié devra réaliser. Il a le
        choix entre les 4 combinaisons suivantes, qui déterminent un coefficient utilisé pour calculer le nombre
        maximal de points mis en jeu :
    </p>

    <ul>
        <li>Chouette Velute : 8%</li>
        <li>Cul de Chouette : 16%</li>
        <li>Velute : 25%</li>
        <li>Chouette : 33%</li>
    </ul>

    <p>
        C'est le défieur qui décide combien de points sont mis en jeu, sachant que le nombre maximal de points mis en
        jeu = le plus petit score entre le défié et le défieur * le coefficient déterminé par le tableau ci-dessus.
        Pour simplifier, on peut déterminer à l'avance que le seul défi autorisé sera le Cul de Chouette.
        Si le joueur défié réalise la combinaison demandée, il gagne les points mis en jeu, et le défieur les perd (ils
        sont ôtés de son score). Si le joueur défié échoue, c'est l'inverse qui se produit. Cependant, dans tous les
        cas, le joueur défié gagne les points de la combinaison qu'il a réalisée.
        Lors d'un défi, les autres joueurs (non impliqués dans le défi) peuvent miser sur la réussite du défi.
        <br>
        La mise est de <strong>5 pts</strong>, le gain est de <strong>25 pts</strong>.
    </p>


    <h2>La Boucliette</h2>

    <p>
        Au début du jeu, chaque joueur dispose d'une boucliette, qui lui permet d'annuler un défi (pour lui ou pour un
        autre joueur).
        <br>
        La boucliette s'utilise lorsque le défieur annonce la combinaison demandée ainsi que le nombre de points
        mis en jeu.
        <br>
        <strong>Attention</strong>: chaque joueur peut utiliser sa boucliette <strong>une seule fois par partie</strong>.
    </p>


    <h2>La Bévue</h2>

    <p>
        Lorsqu'un joueur commet une erreur par rapport au jeu, il y a bévue. Le joueur qui commet une bévue perd 10
        pts.
        <br>
        Exemples de Bévue : "Grelotte ça picote" inapproprié (les dés ne sont pas de suite), lancer un défi sans
        posséder de Grelottine, etc. (selon le niveau des joueurs, la règle sera plus ou moins sévère).
        <br>

        <strong>Attention</strong>: le fait de dire "Sans fin est la moisissure des bières bretonnes" après un
        "Grelotte ça
        picote" est considéré comme une bévue si tous les joueurs n'ont pas dit "Grelotte ça picote".
    </p>


    <h2>Le Civet siroté</h2>

    <p>
        Il est possible de gagner un Civet en cas de sirotage sur une Chouette de 6. Si le joueur perd son sirotage, il
        gagne un Civet. Toutes les règles du sirotage restent applicables (il perd 36 points, et les autres joueurs
        parient
        sur le dé).
        <br>
        Par exemple : Le joueur 1 fait une Chouette de 6, il tente alors un sirotage. Il joue le dé qui tombe sur un 4.
        Ce
        joueur perd les 36 points de sa Chouette, mais gagne un Civet. Et si un joueur a misé sur Mouette, ce joueur
        gagne
        25 points. Si, par contre, le joueur 1 réussi son sirotage, il gagne son Cul de chouette mais ne gagne pas de
        Civet.
    </p>

    <h2>Le Civet</h2>

    <p>
        Lorsqu'un joueur a gagné un Civet, il peut l'utiliser quand bon lui semble, avant de lancer ses deux premiers
        dés.
        Il mise alors un certain nombre de ses points, et parie sur son prochain coup (Chouette, Velute, Chouette
        velute,
        Suite, ou Cul de chouette).
        <br>
        Dans le cas d'un Cul de chouette, il doit préciser <strong>avec ou sans sirotage</strong>.
        <br>
        Par exemple : le joueur 1 a 210 points. Le meilleur score est de 300, à 43pts de la victoire. Ce joueur tente
        alors
        un civet pour rattraper le score. Il décide donc de miser 80 points, et espère faire un Cul de chouette avec un
        sirotage. Le joueur 1 dit alors : "Civet de 80 sur un Cul de chouette avec sirotage". Si le joueur 1 réussi son
        civet, il gagne le nombre de points qu'il a misé, et les points gagnés par le Cul de chouette. Dans le cas
        contraire, il perd les points mis en jeu (80 points), mais gagne les points qu'il a fait avec sa combinaison de
        dés
        (une Velute par exemple). Il est possible de miser au maximum, 102 points.
    </p>

    <h2>L'Achat de dé</h2>

    <p>
        Lorsqu'un joueur a lancé deux dés, et avant qu'il lance le troisième, un autre joueur peut acheter ce troisième
        dé,
        ce qui lui coûte 30 points. Le joueur qui lance les dés ne gagne ainsi que les points des 2 premiers dés.
    </p>

    <h1>Fin du jeu</h1>

    <p>
        Lorsqu'un joueur atteint 343 points (ou plus), il est déclaré gagnant.
        <br>
        <strong>Attention</strong>, on peut seulement atteindre 343 points à son tour de jeu, et non par le biais d'un
        défi ou d'une mise.
        <br>
        Lorsqu'un joueur gagne des points via un défi ou une mise, son score est plafonné à 332 pts, et il devra
        attendre son tour de jeu pour augmenter à nouveau.
    </p>


</div>