@media(min-width: 600.1px) {
    .container {
        max-width: 800px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 20px;
        position: relative;
    }
}

@media(max-width: 600px) {
    .container {
        max-width: 800px;
        min-height: 100vh;
        padding: 20px;
        position: relative;
    }
}

h3{
    margin: 0;
}

h2{
    margin-bottom: 0;
}