<div class="velute">
    <button class="selecteurs" (click)="addPointsVelute(1)" value="1">1</button>
    <button class="selecteurs" (click)="addPointsVelute(2)" value="2">2</button>
    <button class="selecteurs" (click)="addPointsVelute(3)" value="3">3</button>
    <button class="selecteurs" (click)="addPointsVelute(4)" value="4">4</button>
    <button class="selecteurs" (click)="addPointsVelute(5)" value="5">5</button>
    <button class="selecteurs" (click)="addPointsVelute(6)" value="6">6</button>
  </div>