<div class="chouettevelute">
  <form (ngSubmit)="addPointsChouetteVelute(number)" [formGroup]="joueurForm">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="combiSelectCtrl">
        <mat-button-toggle *ngFor="let number of choix" (click)="stockNumber(number)" 
        value="{{number}}">{{number}}</mat-button-toggle>
      </mat-button-toggle-group>
    <mat-selection-list #joueur [formControl]="joueurSelectCtrl">
      <mat-list-option *ngFor="let joueur of this.joueursService.joueurs" value="{{joueur.id}}">
        {{joueur.nom}}
      </mat-list-option>
    </mat-selection-list>
    <p>
      Options selected: {{joueur.selectedOptions.selected.length}}
    </p>

    <button type="submit" [disabled]="joueurForm.invalid">OK !</button>
  </form>
</div>