
    .container-game{
        max-width: 800px;
        min-height: 100vh;
        margin: 0 auto;
        background-color: rgba(247, 236, 222, 0.418);
        padding: 100px 20px 0 20px;
        position: relative;
    }


.joueur__nom{
    text-align: left;
    font-size: 18px;
}

.table__joueur{
    width: 100%;
}

.texte-center{
    text-align: center;
}

.combinaison{
    margin: 20px 0;
}
