<div class="container-game">
  <app-navbar></app-navbar>
  <table class="font-kaamelott texte-center table__joueur">
    <tr>
      <th></th>
      <td></td>
      <td>Grelottine</td>
      <td>Boucliette</td>
      <td>Civet</td>
    </tr>
    <tr *ngFor="let joueur of joueurService.joueurs">
      <th class="joueur__nom">
        <button mat-button (click)="joueurChoose(joueur.id)" class="font-kaamelott button-nom">{{joueur.nom}}</button>
      </th>
      <td>
        {{joueur.points}}
      </td>
      <td>
        <span *ngIf="joueur.grelottine">
          X
        </span>
      </td>
      <td>
        <span *ngIf="joueur.boucliette">
          X
        </span>
      </td>
      <td>
        {{joueur.civet}}
      </td>
    </tr>
  </table>
  <div class="combinaison">
    <router-outlet></router-outlet>
  </div>
</div>