@media(min-width: 600.1px){
    .container-game {
        max-width: 800px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 20px;
        position: relative;
    }
}

@media(max-width: 600px){
    .container-game {
        max-width: 800px;
        min-height: 100vh;
        padding: 20px;
        position: relative;
    }
}

.joueur__nom {
    text-align: left;
    font-size: 18px;
}

.table__joueur {
    width: 100%;
}

.texte-center {
    text-align: center;
}

.combinaison {
    margin: 20px 0;
}

.button-nom {
    width: 100%;
    font-size: 20px;
}