<mat-accordion>
  <!-- Branche combinaisons -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Combinaisons
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Sous branche des combinaisons -->
    <mat-accordion>
      <!-- Sous sous branche chouette -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chouette
          </mat-panel-title>
          <mat-panel-description>
            Obtenue lorsque deux dés sont identiques
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-chouette></app-chouette>
      </mat-expansion-panel>
      <!-- Sous sous branche velute -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Velute
          </mat-panel-title>
          <mat-panel-description>
            Obtenue lorsque la somme de deux dés font le troisième
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-velute></app-velute>
      </mat-expansion-panel>
      <!-- Sous sous branche chouette velute -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chouette Velute
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--  -->
      </mat-expansion-panel>
      <!-- Sous sous branche cul de chouette -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cul de CHouette
          </mat-panel-title>
          <mat-panel-description>
            Obtenue lorsque les trois dés sont identiques
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-cul-de-chouette></app-cul-de-chouette>
      </mat-expansion-panel>
      <!-- Sous sous branche suite -->
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Suite
            </mat-panel-title>
            <mat-panel-description>
              Les trois dés forment une suite
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-suite></app-suite>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Défis
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Ajouter sous arbre des défis -->
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Autres
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Ajouter sous arbre des autres -->
  </mat-expansion-panel>
</mat-accordion>