<mat-form-field>
  <mat-label>Défié</mat-label>
  <mat-select [(ngModel)]="joueurSelect">
    <mat-option *ngFor="let joueur of this.joueursCanBeSelect" [value]="joueur.id">
      {{joueur.nom}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="game-tree__space_two-object">
  <mat-button-toggle-group [(ngModel)]="optionSelect" class="game-tree__space_two-object--element">
    <mat-button-toggle value="1">
      1
    </mat-button-toggle>
    <mat-button-toggle value="2">
      2
    </mat-button-toggle>
    <mat-button-toggle value="3">
      3
    </mat-button-toggle>
    <mat-button-toggle value="0">
      Perdu !
    </mat-button-toggle>
  </mat-button-toggle-group>
  
  <button mat-raised-button (click)="ajoutDesPoints()">GO !</button>
</div>