/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

* {
    font-family: "Kaamelott";
    /* Add !important to overwrite all elements */
}

body {
    font-family: "Kaamelott";
    background-image: radial-gradient(circle, #deb887, #dfb176, #e0aa64, #e1a252, #e19b40);
    margin: 0;
}

@font-face {
    font-family: "Kaamelott";
    src: url("assets/folkard_.ttf");
}

@font-face {
    font-family: "Medieval";
    src: url("assets/medieval.ttf");
}

.font-kaamelott {
    font-family: "Kaamelott";
}

.game-tree__space_two-object {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.game-tree__space_two-object--element{
    margin-bottom: 10px;
}

.woodColor{
    background-color: #D2B48C !important;
}

.medieval-font {
    font-family: "Medieval";
}