/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: radial-gradient(circle, #514933, #574d35, #5d5137, #63553a, #69593c);
    margin: 0;
}

@font-face {
    font-family: "Kaamelott";
    src: url("assets/folkard_.ttf");
}

.font-kaamelott{
    font-family: "Kaamelott";
}

.game-tree__space_two-object{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}