.container-home{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-joueur{
    font-size: 18px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.input-nom{
    margin-right: 20px;
}