<app-navbar></app-navbar>
<div class="container-home">
  <mat-card>
    <div *ngFor="let joueur of joueurService.joueurs" class="list-joueur">
      Joueur {{joueur.id}} : {{joueur.nom}}
    </div>
    <div>
      <mat-form-field class="input-nom">
        <input matInput placeholder="Nouveau joueur" name="newJoueur" (keyup)="nameChange($event)" [(ngModel)]="name">
      </mat-form-field>
      <button mat-raised-button type="button" (click)="addJoueur()">Ajouter</button>
    </div>
    <div *ngIf="joueurService.joueurs.length >= 2" class="button-container">
      <button mat-raised-button type="button" (click)="toGamePage()">Jouer !</button>
    </div>
  </mat-card>
</div>